body {
    margin: 0;
    height: 100vh;
    background: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}
.game-field {
  width: 600px;
  height: 300px;
  background: linear-gradient(#6dbf46, #519c3d);
  border: 3px solid white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Girasoles funcionales (SVG) */
.plant {
  width: 40px;
  height: 40px;
  background: url('../img/girasol-removebg-preview.png')center/contain no-repeat;
  position: absolute;
}

/* Zombis funcionales (SVG) */
.zombie {
  width: 50px;
  height: 60px;
  background: url('../img/Zombie_Suit-removebg-preview.png') center/contain no-repeat;
  position: absolute;
  right: -60px;
  animation: walkZombie 10s linear forwards;
}



/* Animación de caminata */
@keyframes walkZombie {
  0% { right: -60px; }
  100% { right: 500px; } /* Se detiene dentro del campo */
}




.caption {
    z-index: 1;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 40px;
    max-width: 60%;
}
.spotify-player {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}



.cambiar {
    position: absolute;
    z-index: 2;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 95%;
    gap: 20px;
}

.cambiar a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}